@font-face {
	font-family: "Open Sans";
	src: url("Open_Sans/OpenSans-Regular.ttf");
}

body {
	background-color: #f9fafc;
	font-family: "Open Sans";
}

#navContainer {
	display: flex;
	flex-direction: column;
}

#chirpus {
	color: #000;
	font-weight: bold;
}

#linksContainer {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #69696a;
	padding: 5px;
}

#ipsum {
	color: #69696a;
	border-left: 3px solid #69696a;
	padding-left: 20px;
	margin-left: 20px;
}

#scrollDown {
	color: #FFF;
}

.buttons {
	background-color: #000;
	text-align: center;
	border-radius: 25px;
	color: #FFF;
	padding: 10px;
}

#button {
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 1400px;
		width: 90%;
		margin: 0 auto;
	}
	#navContainer {
		flex-direction: row;
		justify-content: space-between;
	}

	#linksContainer {
		flex-direction: row;
		align-items: center;
	}

	#hireUs {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 20px;
		padding-left: 20px;
	}

	a {
		margin
	}

	h1 {
		padding-top: 100px;
		padding-left: 20px;
	}

	#peach {
		background-color: rgba(247, 193, 162, 0.7);
		width: 170px;
		height: 170px;
		border-radius: 50%;
		position: relative;
		top: 420px;
		left: 165px;
		z-index: 10;
		}

	#purple {
		background-color: rgba(207, 130, 213, 0.6);
		width: 125px;
		height: 125px;
		border-radius: 50%;
		position: relative;
		left: 210px;
		top: 150px;
		z-index: 5;
	}

	#pink {
		background-color: rgba(247, 136, 167, 0.6);
		width: 250px;
		height: 250px;
		border-radius: 50%;
		position: relative;
	}

	#circles {
		position: relative;
		float: right;
		bottom: 400px;
		right: 100px;
	}

	#ipsum {
		margin-right: 400px;
	}

	#button {
		width: 100px;
		margin: 0 auto;
		clear: both;
		position: relative;
		bottom: 300px;
	}
}